html, body {height:100%; margin: 0;}

body {
  display:flex;
  font-family: 'Helvetica';
  flex-direction: column;

  min-height: 100%;
  min-width: 100%;
  text-align: center;
  background-color:rgb(51, 51, 192);
  color: rgba(255, 255, 255, 0.781);
}
h1{
  font-size: 42px;
}

footer {
  margin-top: auto;
}

button {
  padding: 10px 30px 10px 30px;
  margin: 20px;
  font-weight:bold;
}